<!-- START FOOTER TOP -->
<footer class="footer-top section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_footer">
                    <h4>About All Care Academy</h4>
                    <div class="footer_contact">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here.</p>
                    </div>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_footer">
                    <h4>Class section</h4>
                    <div class="footer_contact">
                        <ul>
                            <li><a href="#">Little Lamps</a></li>
                            <li><a href="#">Master Mind</a></li>
                            <li><a href="#">Play class</a></li>
                            <li><a href="#">Nursery</a></li>
                            <li><a href="#">Creative Kids</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_footer">
                    <h4>Helpful Link</h4>
                    <div class="footer_contact">
                        <ul>
                            <li><a href="about">About us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="contact">contact us</a></li>
                            <li><a href="#">Principle</a></li>
                            <li><a href="#">class notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single_footer">
                    <h4>Newsletter</h4>
                    <p>Subscribe to get the latest news, update and offer information. Don't worry, we won't send spam!
                    </p>
                    <!-- START MAILCHIMP SIGNUP FORM -->
                    <div class="signup">
                        <div id="mc_embed_signup">
                            <!-- Replace the form action in the line below with your MailChimp embed action! -->
                            <form
                                action="http://site90.us11.list-manage.com/subscribe/post?u=599a2153f4b86cb2f92d4af3a&amp;id=26d7c26287"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate>
                                <input type="email" name="EMAIL" class="form-control" id="mce-email"
                                    placeholder="Email Address...">
                                <span class="input-group-btn">
                                    <button type="submit" name="subscribe"
                                        class="btn btn-default btn-newsletter-bg">Subscribe!</button>
                                </span>
                                <div id="mce-responses">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</footer>
<!-- END FOOTER TOP -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 wow zoomIn">
                <p class="footer_copyright">VectorIT &copy; 2019 All Rights Reserved.</p>
            </div>
            <!--- END COL -->
            <div class="col-md-6 col-sm-6 col-xs-12 wow zoomIn">
                <div class="footer_social">
                    <ul>
                        <li><a data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i
                                    class="fa fa-facebook"></i></a>
                        </li>
                        <li><a data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i
                                    class="fa fa-twitter"></i></a>
                        </li>
                        <li><a data-toggle="tooltip" data-placement="top" title="Google Plus" href="#"><i
                                    class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" href="#"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i
                                    class="fa fa-youtube"></i></a>
                        </li>
                        <li><a data-toggle="tooltip" data-placement="top" title="Skype" href="#"><i
                                    class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</footer>


<!-- Latest jQuery -->
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- countTo js -->
<script src="/assets/js/jquery.inview.min.js"></script>
<!-- owl-carousel min js  -->
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- magnific-popup js -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- jquery mixitup js -->
<script src="/assets/js/jquery.mixitup.min.js"></script>
<!-- scrolltopcontrol js -->
<script src="/assets/js/scrolltopcontrol.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="/assets/js/wow.min.js"></script>
<!-- form-contact js -->
<script src="/assets/js/form-contact.js"></script>
<!-- map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
<!-- scripts js -->
<script src="/assets/js/scripts.js"></script>
<script type="text/javascript">
    /*START GOOGLE MAP*/
    function initialize() {
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: new google.maps.LatLng(40.7127837, -74.00594130000002)
        };
        var map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
        var marker = new google.maps.Marker({
            position: map.getCenter(),
            icon: 'assets/img/map_pin.png',
            map: map
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
        /*END GOOGLE MAP*/
</script>
</body>

</html>