<% include partials/header.ejs %>
		
		<!-- START  HOME DESIGN -->
		<section class="section-top">
			<div class="container">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="section-top-title">
						<h2>About us</h2>
					</div><!-- //.HERO-TEXT -->
				</div><!--- END COL -->
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ol class="breadcrumb">
					  <li><a href="/">Home</a></li>
					  <li class="active">About</li>
					</ol>
				</div><!--- END COL -->
			</div><!--- END CONTAINER -->
		</section>	
		<!-- END  HOME DESIGN -->

		<!-- START ABOUT -->
		<section id="about" class="about_us section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>About us</h2>
						<span></span>
					</div>					
                   <div class="col-md-6 col-sm-12 col-xs-12">
						<div class="about_content">
							<h1>About All Care Academy</h1>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
							<p class="mbtop">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here. </p>
						</div>
                    </div><!--- END COL -->	
                   <div class="col-md-6 col-sm-12 col-xs-12">
						<div class="about-slide">
							<iframe src="https://player.vimeo.com/video/131603349"></iframe>
						</div>
                    </div><!--- END COL -->						
				</div><!-- END ROW  -->
			</div><!-- END CONTAINER  -->
		</section>	
		<!-- END ABOUT -->
		
		<!-- START COUNDOWN --> 
		<section class="counter_feature section-padding" style="background-image: url(assets/img/bg/counter-bg.jpg);  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer"> 25</h2> 
							</div> 
							<p>Teacher & stuff</p>
						 </div>
					</div> <!--- END COL -->   
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer">325</h2>
							</div> 							
							<p>Students</p>
						</div>
					</div><!--- END COL -->   
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer"> 325</h2>	
							</div> 					
							<p>Parents</p>
						 </div>
					</div> <!--- END COL --> 
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer">13</h2> 
							</div> 		
							<p>Classes</p>
						 </div>
					</div> <!--- END COL -->                
			  </div><!--- END ROW -->
		   </div><!--- END CONTAINER -->
		</section>
		<!-- END COUNDOWN -->
		
		<!-- START ACTIVITES  -->
		<section class="our_activites">
			<div class="container">
				<div class="row text-center">
					<div class="section-title wow zoomIn">
						<h2>Our Activities</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru<br> exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_activites single_activites_color_one">
							<i class="fa fa-circle-o-notch"></i>
							<h4>Bus service</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_activites single_activites_color_two">
							<i class="fa fa-keyboard-o"></i>
							<h4>sports</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_activites single_activites_color_three">
							<i class="fa fa-bullhorn"></i>
							<h4>teachers</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_activites single_activites_color_four">
							<i class="fa fa-life-bouy"></i>
							<h4>class</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_activites single_activites_color_five">
							<i class="fa fa-briefcase"></i>
							<h4>food</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_activites single_activites_color_six">
							<i class="fa fa-camera-retro"></i>
							<h4>language</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
						</div>
					</div><!--END COL -->
				</div><!--END  ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END ACTIVITES-->		

		<!-- START TEAM -->
		<section id="team" class="template_team">
			<div class="container"> 
				<div class="row text-center"> 
					<div class="section-title wow zoomIn">
						<h2>Our Teachers</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru<br> exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>					
					<div class="col-md-3 col-sm-6">
						<div class="single_team"> 
							<img class="img-responsive" src="assets/img/team/teacher1.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6">
						<div class="single_team"> 
							<img class="img-responsive" src="assets/img/team/teacher2.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>	
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6">
						<div class="single_team">
							<img class="img-responsive" src="assets/img/team/teacher3.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6">
						<div class="single_team"> 
							<img class="img-responsive" src="assets/img/team/teacher4.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6">
						<div class="single_team"> 
							<img class="img-responsive" src="assets/img/team/teacher1.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6">
						<div class="single_team"> 
							<img class="img-responsive" src="assets/img/team/teacher2.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6">
						<div class="single_team"> 
							<img class="img-responsive" src="assets/img/team/teacher3.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6">
						<div class="single_team"> 
							<img class="img-responsive" src="assets/img/team/teacher4.png" alt="">
							<h5 class="team-name">Teacher Name</h5>
							<div class="team-hover">
								<h5>Teacher Name</h5>
								<span>Teacher Title</span>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<ul class="social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END TEAM -->

		<!-- START TESTIMONIAL -->
        <section class="testimonial section-padding" style="background-image: url(assets/img/bg/counter-bg.jpg);  background-size:cover; background-position: center center;">
	        <div class="container">
	            <div class="row">				
	                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
	                	<h2 class="testimonial_title text-center">What Parents say</h2>
						<div id="team__carousel" class="carousel slide" data-ride="carousel" data-interval="9999999">
							<!-- Indicators -->
							<ol class="carousel-indicators">
							  <li data-target="#team__carousel" data-slide-to="0" class="active"></li>
							  <li data-target="#team__carousel" data-slide-to="1"></li>
							  <li data-target="#team__carousel" data-slide-to="2"></li>
							  <li data-target="#team__carousel" data-slide-to="3"></li>
							</ol>
							<div class="carousel-inner text-center">
								<div class="item active">
									<div class="testimonial-text">
										<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
										<h4>Syed Ekram</h4>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-text">
										<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
										<h4>Syed Ekram</h4>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-text">
										<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
										<h4>Syed Ekram</h4>
									</div>
								</div>
								<div class="item">
									<div class="testimonial-text">
										<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur..."</p>
										<h4>Syed Ekram</h4>
									</div>
								</div>
							</div>
						</div>
					</div><!--- END COL -->				
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->	
        </section>
		<!-- END TESTIMONIAL -->
		
		<!-- START CONTACT ADDRESS -->
		<div class="contact-address section-padding">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_one">
							<i class="fa fa-phone"></i>
							<p>(+1) 740-395-3829</p>
							<p>(+1) 740-395-3829</p>
						</div>
					</div><!-- END COL  -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_three">
							<i class="fa fa-map-marker"></i>
							<p>3783 Columbia Mine Road Shinnston, WV 26431 </p>
						</div>
					</div><!-- END COL  -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_two">
							<i class="fa fa-envelope"></i>
							<p>Info@bornomala.com</p>
							<p>Info@bornomala.com</p>
						</div>
					</div><!-- END COL  -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_four">
							<i class="fa fa-clock-o"></i>
							<p>Mon - Fri</p>
							<p>08.00 - 6.00</p>
						</div>
					</div><!-- END COL  -->
				</div><!--END  ROW  -->
			</div><!-- END CONTAINER  -->
		</div>
		<!-- END CONTACT ADDRESS -->
		
		<% include partials/footer.ejs %>