    <% include partials/header.ejs %>
    <section class="footer_contact_area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="section-title text-center wow zoomIn">
                    <h2>Add Teacher</h2>
                    <span></span>
                </div>
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <div class="footer_contact">
                        <form action="/add-teacher" method="post" enctype="multipart/form-data">
                            <% include partials/messages.ejs %>
                            <div class="row">
                                <h3>Basic Info</h3>
                                <div class="form-group col-md-12">
                                    <label for="name">Name:</label>
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="eg... Md. Abdur Rahim" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="name">Phone:</label>
                                    <input type="text" name="phone" class="form-control" data-format="+1 (ddd) dddd-dddd"
                                        placeholder="eg... +880 1700000000" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="email">Email:</label>
                                    <input type="text" name="Email" class="form-control" id="email"
                                        placeholder="eg... some@example.com" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="input-group-prepend">
                                        <label for="inputGroupSelect01">Gender:</label>
                                    </div>
                                    <select class="form-control" name="gender" id="inputGroupSelect01">
                                        <option selected>Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputAddress">Address:</label>
                                    <input type="text" name="address" class="form-control" id="inputAddress"
                                        placeholder="eg... road#1234 Main St, Gulsan, Dhaka-1212">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputImage">Image:</label>
                                    <input type="file" name="img" class="form-control" id="inputImage">
                                </div>

                                <h3>Educational Info</h3>
                                <div class="form-group col-md-12">
                                    <label for="instituteName">University Name:</label>
                                    <input type="text" name="UniversityName" class="form-control" id="instituteName"
                                        placeholder="eg... University of Dhaka" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="degree">University Degree:</label>
                                    <input type="text" name="UniversityDegree" class="form-control" id="degree"
                                        placeholder="eg... BSc. Hons " required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="instituteName">College Name:</label>
                                    <input type="text" name="CollegeName" class="form-control" id="instituteName"
                                        placeholder="eg... Dhaka City College" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="input-group-prepend">
                                        <label for="inputGroupSelect01">College Group:</label>
                                    </div>
                                    <select class="form-control" name="CollegeGroup" id="inputGroupSelect01">
                                        <option selected>Select</option>
                                        <option value="Science">Science</option>
                                        <option value="Arts">Arts</option>
                                        <option value="Commerce">Commerce</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <h3>Others Info</h3>
                                <div class="form-group col-md-12">
                                    <label for="CochingId">Coching ID:</label>
                                    <input type="text" name="CochingId" class="form-control" id="CochingId"
                                        placeholder="eg... 5000" required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="date">Joining Date:</label>
                                    <input type="date" name="JoiningDate" class="form-control" id="datepicker"
                                        required="required">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="salary">Monthly Salary:</label>
                                    <input type="text" name="Salary" class="form-control" id="salary"
                                        placeholder="eg... 5000" required="required">
                                </div>
                                <div class="col-md-12">
                                    <div class="actions">
                                        <input type="submit" value="Add Teacher" name="submit" id="submitButton"
                                            class="btn  btn-contact-bg" title="Submit Teacher's Information!" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- END COL -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>


<% include partials/footer.ejs %>

<!-- Latest jQuery -->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- countTo js -->
<script src="assets/js/jquery.inview.min.js"></script>
<!-- owl-carousel min js  -->
<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- magnific-popup js -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- jquery mixitup js -->
<script src="assets/js/jquery.mixitup.min.js"></script>
<!-- scrolltopcontrol js -->
<script src="assets/js/scrolltopcontrol.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="assets/js/wow.min.js"></script>
<!-- form-contact js -->
<script src="assets/js/form-contact.js"></script>
<!-- map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
<!-- scripts js -->
<script src="assets/js/scripts.js"></script>
<script type="text/javascript">
    /*START GOOGLE MAP*/
    function initialize() {
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: new google.maps.LatLng(40.7127837, -74.00594130000002)
        };
        var map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
        var marker = new google.maps.Marker({
            position: map.getCenter(),
            icon: 'assets/img/map_pin.png',
            map: map
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
        /*END GOOGLE MAP*/
</script>
</body>

</html>