<% include partials/header.ejs %>
		
		<!-- START  HOME DESIGN -->
		<section class="section-top">
			<div class="container">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="section-top-title">
						<h2>Our Event</h2>
					</div><!-- //.HERO-TEXT -->
				</div><!--- END COL -->
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ol class="breadcrumb">
					  <li><a href="/">Home</a></li>
					  <li class="active">Our Event</li>
					</ol>
				</div><!--- END COL -->
			</div><!--- END CONTAINER -->
		</section>	
		<!-- END  HOME DESIGN -->

		<!-- START EVENT -->
		<section class="our_event our_event_mbtop">
			<div class="container">
				<div class="row">
					<div class="section-title text-center wow zoomIn">
						<h2>Our Events</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>	
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="single_event single_event_mb60">
							<img class="event-photo" alt="" src="assets/img/1.jpg"/>
							<div class="single_event_text">
								 <span>08 March</span>
								 <h4><a href="#">Event title here</a></h4>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit.</p>
							</div>
						</div><!--- END SINGLE EVENT -->
					</div><!--- END COL -->	
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="single_event single_event_mb60">
							<img class="event-photo" alt="" src="assets/img/2.jpg"/>
							<div class="single_event_text">
								 <span>08 March</span>
								 <h4><a href="#">Event title here</a></h4>	
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit.</p>
							</div>
						</div><!--- END SINGLE EVENT -->
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12 single_event_mb60">
						<div class="single_event">
							<img class="event-photo" alt="" src="assets/img/3.jpg"/>
							<div class="single_event_text">
								 <span>08 March</span>
								 <h4><a href="#">Event title here</a></h4>	
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit.</p>
							</div>
						</div><!--- END SINGLE EVENT -->
					</div><!--- END COL -->	
					<div class="col-md-6 col-sm-12 col-xs-12 single_event_mb60">
						<div class="single_event">
							<img class="event-photo" alt="" src="assets/img/4.jpg"/>
							<div class="single_event_text">
								 <span>08 March</span>
								 <h4><a href="#">Event title here</a></h4>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit.</p>
							</div>
						</div><!--- END SINGLE EVENT -->
					</div><!--- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END EVENT -->
		
		<% include partials/footer.ejs %>
		 
		<!-- Latest jQuery -->
			<script src="assets/js/jquery-1.12.4.min.js"></script>
		<!-- Latest compiled and minified Bootstrap -->
			<script src="assets/bootstrap/js/bootstrap.min.js"></script>														
		<!-- countTo js -->
			<script src="assets/js/jquery.inview.min.js"></script>			
		<!-- owl-carousel min js  -->
			<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>	
		<!-- magnific-popup js -->               
			<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- jquery mixitup js -->   
			<script src="assets/js/jquery.mixitup.min.js"></script>	
		<!-- scrolltopcontrol js -->
			<script src="assets/js/scrolltopcontrol.js"></script>										
		<!-- WOW - Reveal Animations When You Scroll -->
			<script src="assets/js/wow.min.js"></script>			
		<!-- scripts js -->
			<script src="assets/js/scripts.js"></script>
    </body>
</html>