<% include partials/header.ejs %>
		
		<!-- START  HOME DESIGN -->
		<section class="section-top">
			<div class="container">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="section-top-title">
						<h2>Our Gallery</h2>
					</div><!-- //.HERO-TEXT -->
				</div><!--- END COL -->
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ol class="breadcrumb">
					  <li><a href="/">Home</a></li>
					  <li class="active">Our Gallery</li>
					</ol>
				</div><!--- END COL -->
			</div><!--- END CONTAINER -->
		</section>	
		<!-- END  HOME DESIGN -->

		<!-- START PORTFOLIO -->
		<section class="template_portfolio template_portfolio_pt">
			<div class="container">
				<div class="row">
					<div class="section-title text-center wow zoomIn">
						<h2>Gallery</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru<br> exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>						
					<ul class="portfolio-filters text-center">
						<li class="filter active" data-filter="all">all</li>
						<li class="filter" data-filter="sports">sports</li>
						<li class="filter" data-filter="class">class</li>
						<li class="filter" data-filter="video">video</li>
						<li class="filter" data-filter="painting">Painting</li>
					</ul>
					<!-- END PORTFOLIO FILTER-->
					<div class="grid">
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/1.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/1.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix video">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/2.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/2.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix painting">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/3.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/3.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix video painting">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/4.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/4.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix  sports">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/5.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/5.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/6.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/6.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix sports video">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/7.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/7.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/8.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/8.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="assets/img/portfolio/9.jpg" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="assets/img/portfolio/9.jpg" class="image-popup">Title Goes Here</a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
					 </div><!--/.grid-->		
				</div><!--- END ROW -->				
			</div><!--- END CONTAINER -->
		</section>
		<!-- START PORTFOLIO -->
		
		<% include partials/footer.ejs %>
		 
		<!-- Latest jQuery -->
			<script src="assets/js/jquery-1.12.4.min.js"></script>
		<!-- Latest compiled and minified Bootstrap -->
			<script src="assets/bootstrap/js/bootstrap.min.js"></script>														
		<!-- countTo js -->
			<script src="assets/js/jquery.inview.min.js"></script>			
		<!-- owl-carousel min js  -->
			<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>	
		<!-- magnific-popup js -->               
			<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- jquery mixitup js -->   
			<script src="assets/js/jquery.mixitup.min.js"></script>	
		<!-- scrolltopcontrol js -->
			<script src="assets/js/scrolltopcontrol.js"></script>										
		<!-- WOW - Reveal Animations When You Scroll -->
			<script src="assets/js/wow.min.js"></script>			
		<!-- scripts js -->
			<script src="assets/js/scripts.js"></script>
    </body>
</html>