<% include partials/header.ejs %>
		
		<!-- START HOME -->
		<section id="home" class="welcome-area">
			<div class="welcome-slider-area">
				<div id="welcome-slide-carousel" class="carousel slide carousel-fade" data-ride="carousel">
					<ol class="carousel-indicators carousel-indicators-slider">
						<li data-target="#welcome-slide-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#welcome-slide-carousel" data-slide-to="1"></li>
						<li data-target="#welcome-slide-carousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="single-slide-item slide-1">
								<div class="single-slide-item-table">
									<div class="single-slide-item-tablecell">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<h2>Perfect for your coching center</h2>
													 <p>We provide the best way out.</p>
													<div class="home_btn">
														<a href="/about" class="app-btn wow bounceIn page-scroll home_btn_color_two" data-wow-delay=".6s" >About us</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-slide-item slide-2">
								<div class="single-slide-item-table">
									<div class="single-slide-item-tablecell">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<h2>Perfect for your coching center</h2>
													<p>We provide the best way out.</p>
													<div class="home_btn">
														<a href="/about" class="app-btn wow bounceIn page-scroll home_btn_color_two" data-wow-delay=".6s" >About us</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single-slide-item slide-3">
								<div class="single-slide-item-table">
									<div class="single-slide-item-tablecell">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<h2>Perfect for your coching center</h2>
													<p>We provide the best way out.</p>
													<div class="home_btn">
														<a href="/about" class="app-btn wow bounceIn page-scroll home_btn_color_two" data-wow-delay=".6s" >About us</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END  HOME DESIGN -->

		<!-- START PROMOTION -->	
		<section class="promotion section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="single_promo">
							<h1>Welcome to <strong>All Care Academy</strong></h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END PROMOTION -->	
		
		<!-- START CONTACT ADDRESS -->
		<div class="contact-address section-padding">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_one">
							<i class="fa fa-phone"></i>
							<p>(+1) 740-395-3829</p>
							<p>(+1) 740-395-3829</p>
						</div>
					</div><!-- END COL  -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_three">
							<i class="fa fa-rocket"></i>
							<p>3783 Columbia Mine Road Shinnston, WV 26431 </p>
						</div>
					</div><!-- END COL  -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_two">
							<i class="fa fa-envelope"></i>
							<p>Info@bornomala.com</p>
							<p>Info@bornomala.com</p>
						</div>
					</div><!-- END COL  -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_address single_activites_color_four">
							<i class="fa fa-clock-o"></i>
							<p>Mon - Fri</p>
							<p>08.00 - 6.00</p>
						</div>
					</div><!-- END COL  -->
				</div><!--END  ROW  -->
			</div><!-- END CONTAINER  -->
		</div>
		<!-- END CONTACT ADDRESS -->
		
		
		
		<!-- START FOOTER BOTTOM -->
		<% include partials/footer.ejs %>
		<!-- END FOOTER BOTTOM-->	
		 
		<!-- Latest jQuery -->
			<script src="assets/js/jquery-1.12.4.min.js"></script>
		<!-- Latest compiled and minified Bootstrap -->
			<script src="assets/bootstrap/js/bootstrap.min.js"></script>														
		<!-- countTo js -->
			<script src="assets/js/jquery.inview.min.js"></script>			
		<!-- owl-carousel min js  -->
			<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>	
		<!-- magnific-popup js -->               
			<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<!-- jquery mixitup js -->   
			<script src="assets/js/jquery.mixitup.min.js"></script>	
		<!-- scrolltopcontrol js -->
			<script src="assets/js/scrolltopcontrol.js"></script>										
		<!-- WOW - Reveal Animations When You Scroll -->
			<script src="assets/js/wow.min.js"></script>			
		<!-- scripts js -->
			<script src="assets/js/scripts.js"></script>
    </body>
</html>